{% extends "::layoutGeneral.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="jumbotron">
            <h1>Accueil</h1>      
            <p>Projet en construction</p>
        </div>
        <p>This is some text.</p>      
        <p>This is another text.</p>      
    </div> 

{% endblock %}